<% page = "Home" %>

<h1 class="title">URL Shortener<span class="title__description">lnk.moe</span></h1>

<% if (successMessage) { %>
  <div>
    <p class="success-message"><%= successMessage %></p>
    <div class="box">
      <p>Shortened URL: <span class="text--highlighted" id="url"><%= shortUrl %></span></p>
      <p id="copy" class="btn">Copy</p>
    </div>
  </div>
<% } %>

<% if (errorMessage) { %>
  <div class="error-message">
    <p><%= errorMessage %></p>
  </div>
<% } %>

<form method="post" class="form">
  <span id="urlLength" class="text--highlighted"></span>
  <input id="urlInput" class="form__input" type="text" name="url" placeholder="Enter the URL here" required>
  <button type="submit" class="btn">Shorten</button>
  <div class="arrow">
    <span class="arrow-line"></span>
    <span class="arrow-line"></span>
  </div>
</form>

<script src="/scripts/index.js"></script>