@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;500&family=Quicksand&display=swap');

:root {
  --primary: #a5a3a4;
  --background: #252324;
  --dark: #151314;
  --secondary: pink;
  --error: #bf616a;
  --error-bg: #432F31;
  --success: #a3be8c;
  --success-bg: #3D4138;
  --info: #b48ead;
  --info-bg: #41373E;
}

html {
  font-size: 16px;
  font-family: "Nunito Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: var(--background);
  color: white;
}

.success-message {
  color: var(--success);
  background-color: var(--success-bg);
  border-top: 2px solid var(--success);
  border-bottom: 2px solid var(--success);
  padding: 1em;
  text-align: center;
  margin-bottom: 1em;
}

.success-message:before, .success-message:after {
  height: 2px;
  width: 100%;
  background-color: var(--success);
}


.error-message {
  color: var(--error);
  background-color: var(--error-bg);
  border-top: 2px solid var(--error);
  border-bottom: 2px solid var(--error);
  padding: 1em;
  text-align: center;
  margin-bottom: 1em;
}

.error-message:before, .error-message:after {
  height: 2px;
  width: 100%;
  background-color: var(--error);
}

.title {
  font-size: 2em;
  text-align: center;
  padding: .5em;
  letter-spacing: -0.05em;
  line-height: 1.4;
}

.title__description {
  display: block;
  font-size: .75em;
  letter-spacing: 0;
  padding: 0;
}

.btn {
  background: none;
  color: inherit;
  font: inherit;
  outline: inherit;

  display: inline-block;
  border-radius: 1em;
  padding: .3em .5em;
  cursor: pointer;
  border: 2px solid white;
}

.form-main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5em;
  text-align: center;
}

.form__input {
  background: none;
  color: inherit;
  font: inherit;
  outline: inherit;

  display: inline-block;
  border-radius: 1em;
  padding: .3em .5em;
  border: 2px solid white;
  text-align: center;
}

.form__input--secondary {
  border: 2px solid var(--info-bg);
}

.form__input::placeholder {
  color: var(--primary);
  text-align: center;
}

.box {
  display: flex;
  gap: 1em;
  justify-content: center;
  align-items: center;
  margin: 1em 0;
  padding: 0 1em;
}

.text--highlighted {
  color: var(--secondary);
  font-size: 1.3rem;
  text-align: center;
}

.navbar {
  color: var(--info);
  background-color: var(--info-bg);
  border-top: 2px solid var(--info);
  border-bottom: 2px solid var(--info);
  padding: 1em;
  text-align: center;
  margin-bottom: 1em;
}

.navbar:before, .navbar:after {
  height: 2px;
  width: 100%;
  background-color: var(--info);
}

.navbar__item {
  padding: 1em 1.5em;
  color: var(--info);
  text-decoration: none;
  font-weight: 700;
}

.navbar__item:hover {
  background-color: var(--info);
  color: var(--info-bg);
}

.arrow {
  width: 2em;
  height: 2em;
  position: relative;
  cursor: pointer;
}

.arrow-line {
  position: absolute;
  width: 3px;
  height: 1em;
  background-color: white;
  inset: 0;
  transition: all ease-in-out .2s;
}

.arrow-line:nth-child(1) {
  transform-origin: center;
  transform: translateX(655%) translateY(50%) rotate(45deg);
}

.arrow-line:nth-child(2) {
  transform-origin: center;
  transform: translateX(345%) translateY(50%) rotate(-45deg);
}

.arrow.enable .arrow-line:nth-child(1) {
  transform: translateX(655%) translateY(50%) rotate(-45deg);
}

.arrow.enable .arrow-line:nth-child(2) {
  transform: translateX(345%) translateY(50%) rotate(45deg);
}

.arrow-menu {
  margin-top: 1em;
  opacity: 0;
  transition: all ease-in-out .2s;
  user-select: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5em;
}

.arrow-menu.enable {
  opacity: 1;
}

.checkbox-input.enable {
  border: 2px solid var(--info);
  color: white;
}

.checkbox-input {
  color: var(--primary);
}

.checkbox-wrapper {
  display: flex;
  align-items: center;
  gap: .5em;
}

.checkbox {
  background-color: black;
  width: 2em;
  height: 1em;
  border-radius: 1em;
  position: relative;
}

.checkbox:before {
  content: "";
  position: absolute;
  left: 0;
  width: 1em;
  height: 1em;
  background-color: var(--error);
  border-radius: 1em;
  transition: all ease-in-out .2s;
}

.checkbox.enable:before {
  background-color: var(--success);
  transform: translateX(100%);
}

.highlight-line {
  height: 2px;
  background-color: var(--info);
  width: min(40em, 100vw);
  margin: 1em;
}

.text--absolute {
  position: absolute;
  text-align: left;
  transform: translateX(calc(-100% - .5em));
  font-size: .75rem;
}

.text--absolute-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}